@import "./reset.css";
@custom-media --small-up (min-width: 30em);

.wrapper {
  max-width: 56rem;
  margin: auto;
}

.container-sidebar {
  @media (--small-up) {
    display: grid;
    grid-template-columns: 3fr 9fr;
    gap: 1rem;
  }
}

.admin-form {
  label span {
    display: block;
  }
  label input {
    margin: 0 0 0.5rem 0;
    width: 100%;
  }
}

a {
  text-decoration: underline;
  color: hotpink;
}
body {
  padding: 2rem;
}

h1 + ul,
h1 + p,
h1 + img,
h1 + article,
h1 + div,
div + h1,
div + img,
div + p,
div + article {
  margin-top: 1rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

hr {
  margin: 2rem 0;
}
